Flow 1.json
[{"id":"c8ef21c9.233f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ccb644b4.33ec38","type":"inject","z":"c8ef21c9.233f8","name":"Input","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":40,"wires":[["73ed46ae.8155d8"]]},{"id":"73ed46ae.8155d8","type":"debug","z":"c8ef21c9.233f8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":840,"y":40,"wires":[]},{"id":"49059bf7.0d46b4","type":"ibmiot in","z":"c8ef21c9.233f8","authentication":"apiKey","apiKey":"a0263688.aa0058","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"raspberry","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":120,"wires":[["73ed46ae.8155d8","50a932f0.c78f8c","c37567ff.00a948","f11c002f.8ab9f","3fc8207b.01d72","6b631c7e.ea3a24"]]},{"id":"50a932f0.c78f8c","type":"function","z":"c8ef21c9.233f8","name":"Temperature","func":"global.set('Temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":260,"wires":[["73ed46ae.8155d8","87d03310.b8888"]]},{"id":"c37567ff.00a948","type":"function","z":"c8ef21c9.233f8","name":"Systolic","func":"global.set('Systolic',msg.payload.Systolic)\nmsg.payload=msg.payload.Systolic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":340,"wires":[["73ed46ae.8155d8","5092c845.e4af08"]]},{"id":"87d03310.b8888","type":"ui_gauge","z":"c8ef21c9.233f8","name":"","group":"1dd167c4.6db748","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":260,"wires":[]},{"id":"5092c845.e4af08","type":"ui_gauge","z":"c8ef21c9.233f8","name":"","group":"1dd167c4.6db748","order":4,"width":0,"height":0,"gtype":"gage","title":"Systolic","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":340,"wires":[]},{"id":"19508bc7.239d14","type":"ui_button","z":"c8ef21c9.233f8","name":"","group":"1dd167c4.6db748","order":6,"width":0,"height":0,"passthru":true,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTOR ON\"}","payloadType":"json","topic":"","x":870,"y":540,"wires":[["d4e4850e.270648"]]},{"id":"1f667ba1.fdf0a4","type":"ui_button","z":"c8ef21c9.233f8","name":"","group":"1dd167c4.6db748","order":7,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTOR OFF\"}","payloadType":"json","topic":"","x":870,"y":600,"wires":[["d4e4850e.270648"]]},{"id":"d4e4850e.270648","type":"ibmiot out","z":"c8ef21c9.233f8","authentication":"apiKey","apiKey":"a0263688.aa0058","outputType":"cmd","deviceId":"12345","deviceType":"raspberry","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":1140,"y":600,"wires":[]},{"id":"2baa00c9.d26c9","type":"http in","z":"c8ef21c9.233f8","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":90,"y":640,"wires":[["66e13b41.ae5614"]]},{"id":"72c08028.978cb","type":"http response","z":"c8ef21c9.233f8","name":"","statusCode":"","headers":{},"x":570,"y":640,"wires":[]},{"id":"66e13b41.ae5614","type":"function","z":"c8ef21c9.233f8","name":"data","func":"msg.payload={'Temperature':global.get(\"Temperature\"),'Systolic':global.get(\"Systolicl\"),'Diastolic':global.get(\"Diastolic\"),'Pulse':global.get(\"Pulse\"),'Age':global.get(\"Age\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":640,"wires":[["72c08028.978cb"]]},{"id":"b55869f5.284d28","type":"http in","z":"c8ef21c9.233f8","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":120,"y":520,"wires":[["4a2b83df.d9bdfc"]]},{"id":"c80f4dfc.e04c2","type":"http response","z":"c8ef21c9.233f8","name":"","statusCode":"","headers":{},"x":570,"y":560,"wires":[]},{"id":"4a2b83df.d9bdfc","type":"function","z":"c8ef21c9.233f8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":520,"wires":[["c80f4dfc.e04c2","57a82c02.bf92e4"]]},{"id":"57a82c02.bf92e4","type":"debug","z":"c8ef21c9.233f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":500,"wires":[]},{"id":"3fc8207b.01d72","type":"function","z":"c8ef21c9.233f8","name":"Pulse","func":"global.set('Pulse',msg.payload.Pulse)\nmsg.payload=msg.payload.Pulse\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":420,"wires":[["51109690.ea2e38","73ed46ae.8155d8"]]},{"id":"f11c002f.8ab9f","type":"function","z":"c8ef21c9.233f8","name":"Diastolic","func":"global.set('Diastolic',msg.payload.Diastolic)\nmsg.payload=msg.payload.Diastolic\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":180,"wires":[["9047e7d0.922b08","73ed46ae.8155d8"]]},{"id":"9047e7d0.922b08","type":"ui_gauge","z":"c8ef21c9.233f8","name":"","group":"1dd167c4.6db748","order":5,"width":0,"height":0,"gtype":"gage","title":"Diastolic","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":180,"wires":[]},{"id":"51109690.ea2e38","type":"ui_gauge","z":"c8ef21c9.233f8","name":"","group":"1dd167c4.6db748","order":3,"width":0,"height":0,"gtype":"gage","title":"Pulse","label":"units","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":420,"wires":[]},{"id":"6b631c7e.ea3a24","type":"function","z":"c8ef21c9.233f8","name":"Age","func":"global.set('Age',msg.payload.age)\nmsg.payload=msg.payload.age\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":120,"wires":[["fecd8b0d.e56dd8"]]},{"id":"fecd8b0d.e56dd8","type":"ui_gauge","z":"c8ef21c9.233f8","name":"","group":"1dd167c4.6db748","order":1,"width":0,"height":0,"gtype":"gage","title":"Age","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":120,"wires":[]},{"id":"a0263688.aa0058","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"1dd167c4.6db748","type":"ui_group","z":"","name":"Default","tab":"14208347.46339d","order":1,"disp":true,"width":"6","collapse":false},{"id":"14208347.46339d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]