smart health auto ai.json
[{"id":"27933342.1d30ac","type":"tab","label":"smart health auto ai","disabled":false,"info":""},{"id":"fbf8eb23.b66f98","type":"function","z":"27933342.1d30ac","name":"retriving ibm iot health values","func":"global.set(\"age\",msg.payload.d.age)\nglobal.set(\"Temperature\",msg.payload.d.Temperature)\nglobal.set(\"Systolic\",msg.payload.d.Systolic)\nglobal.set(\"Diastolic\",msg.payload.d.Diastolic)\nglobal.set(\"Pulse\",msg.payload.d.Pulse)\nvar apikey=\"it04xNKb2qbdIR_FWVTN4V1J8mh-oyq-0KLD7adrUhip\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["720a78b8.acb9c8"]]},{"id":"720a78b8.acb9c8","type":"http request","z":"27933342.1d30ac","name":"get token","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":180,"wires":[["45f65198.c3177"]]},{"id":"45f65198.c3177","type":"function","z":"27933342.1d30ac","name":"Pre Prediction","func":"var age = global.get('age')\nvar Temperature = global.get('Temperature')\nvar Systolic = global.get('Systolic')\nvar Diastolic = global.get('Diastolic')\nvar Pulse = global.get('Pulse')\nvar token=msg.payload.access_token\nvar instance_id=\"22e9be08-9424-4dac-8696-1b57297b75e7\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"age\", \"Temperature\", \"Systolic\", \"Diastolic\", \"Pulse\"], \"values\": [[age,Temperature,Systolic,Diastolic,Pulse]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":180,"wires":[["c56e2fe5.5ecc2"]]},{"id":"c56e2fe5.5ecc2","type":"http request","z":"27933342.1d30ac","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/17493b2c-945b-4ccb-87dd-762fb0c41355/predictions","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":340,"wires":[["95c4e02b.23f77"]]},{"id":"95c4e02b.23f77","type":"function","z":"27933342.1d30ac","name":"output parsing","func":"var age = global.get ('age')\nvar Temperature = global.get ('Temperature')\nvar Systolic = global.get ('Systolic')\nvar Diastolic = global.get ('Diastolic')\nvar Pulse = global.get ('Pulse')\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"status\",output)\nmsg.payload = {\n  details: {\n    health: {\n      age: age,\n      temperature: Temperature,\n      systolic: Systolic,\n      diastloic:Diastolic,\n      pulse: Pulse,\n        output: output\n    }\n  }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":340,"wires":[["e6874e86.03ed5","9a5f1bbb.a8eb18"]]},{"id":"9a5f1bbb.a8eb18","type":"debug","z":"27933342.1d30ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":280,"wires":[]},{"id":"e6874e86.03ed5","type":"ui_template","z":"27933342.1d30ac","group":"28244c61.9af6f4","name":"Health Prediction Output","order":0,"width":"6","height":"4","format":"<div layout=\"row\" layout-align=\"start center\">\n<span flex>age</span>\n<span flex>temperature</span>\n<span flex>systloic</span>\n<span flex>dailostic</span>\n<span flex>pulse</span>\n<span flex>Output</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"health in msg.payload.details\">\n<span flex style=\"color: green\"> {{health.age}} </span>\n<span flex style=\"color: red\"> {{health.temperature}} </span>\n<span flex style=\"color: blue\"> {{health.systolic}} </span>\n<span flex style=\"color: yellow\"> {{health.diastloic}} </span>\n<span flex style=\"color: black\"> {{health.pulse}} </span>\n<span flex style=\"color: Brown\"> {{health.output}} </span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":830,"y":400,"wires":[[]]},{"id":"22662fdf.0583e","type":"ibmiot in","z":"27933342.1d30ac","authentication":"apiKey","apiKey":"32b8f4ac.ee296c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"raspberry","eventType":"health","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":90,"y":180,"wires":[["fbf8eb23.b66f98"]]},{"id":"28244c61.9af6f4","type":"ui_group","z":0,"name":"Health Status","tab":"bfdc0cc2.119ed","order":1,"disp":true,"width":"6","collapse":false},{"id":"32b8f4ac.ee296c","type":"ibmiot","z":"","name":"Neha Api","keepalive":"60","serverName":"i8fmqf.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"bfdc0cc2.119ed","type":"ui_tab","z":0,"name":"Health Prediction","icon":"dashboard","disabled":false,"hidden":false}]